h1 {
    text-align: center;
    background-color: grey;
    border-radius: 20px;
}

.jumbotron {
    background-color: green;
}

body {
    font-size: 20px;
    font-family: 'Cardo', serif;
    background-color: beige;
}

/* simulate a coding terminal */
.col-md-5 {
    border-left: 1px solid black;
    background-color: white;
}

p {
    text-align: center;
}
