h1 {
    padding: 20px;
    text-align: center;
}

a {
    text-decoration: none;
}

#test-only {
    padding: 10px;
    background-color: orange;
    color: white;
}

#real-alert {
    padding: 20px;
    text-transform: uppercase;
    color: white;
    background-color: red;
}

.missile-link {
    margin-bottom: 50px;
    text-align: center;
    display: block;
    border-style: dotted;
}
